/* Global Styles for Sidebar */
.layout {
    display: flex;
    height: 100vh;

    .sidebar_container {
        width: 250px;
        background-color: #013368;
        transition: width 0.3s ease;

        &.collapsed {
            width: 60px;
        }

        .sidebar_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #013368;
            color: white;
            position: relative;

            .logo {
                display: flex;
                align-items: center;
                transition: opacity 0.3s ease;

                img {
                    height: 110px;
                    width: 200px;
                    transition: max-width 0.3s ease;
                }
            }

            .collapse_btn {
                background: transparent;
                border: none;
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
                color: white;
                transition: color 0.3s ease;

                &.collapsed-true {
                    color: white; /* Bleu lorsque la sidebar est fermée */
                }

                &.collapsed-false {
                    color: white; /* Blanc lorsque la sidebar est ouverte */
                }

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .sidebar_list {
            padding: 0;
            list-style: none;
            margin-top: 20px;

            .sidebar_item {
                a {
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    color: white;
                    text-decoration: none;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }

                    .sidebar_link {
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }

                    svg {
                        margin-right: 10px;
                    }

                    span {
                        display: block;
                    }
                }

                &.active {
                    background-color: rgba(255, 255, 255, 0.1);
                    font-weight: bold;
                }

                .sidebar_link {
                    .icon {
                        color: white;
                    }
                }
            }
        }
    }

}
