.navbar_container {
    width: 10vw;
    height: 100vh;
    background-color: $mrs;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .navbar_list {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        ul {
            padding: 0;

            li {
                margin-top: 15px;
                display: flex;
                align-items: center;
                transition: background-color 0.3s;

                &:hover {
                    background-color: lighten($mrs, 10%);
                    border-radius: 5px;
                }

                .navbar_link {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    color: white;
                    font-size: 1em;
                    text-decoration: none;
                    transition: color 0.3s;

                    svg {
                        margin-right: 10px; // Space between icon and text
                        font-size: 1.8em; // Icon size
                    }

                    &:hover {
                        color: white; 
                    }
                }
            }
        }
    }
}
