$color_2: #333;
$color_3: #fff;
$background-color_1: #f4f4f4;
$background-color_2: #4caf50;

.container {
    max-width: 1800px;
    padding: 20px;

    .driversFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;

        .driverCard {
            display: flex;
            flex-direction: column;
            background-color: $background-color_1;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
            width: 100%;

            .driverInfo {
                display: flex;
                flex-direction: column;

                .driverName {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $color_2;
                    margin-bottom: 10px;
                }

                input {
                    padding: 5px 20px;
                    font-family: "Montserrat", sans-serif;
                    border-radius: 10px;
                    border: 1px solid black;
                    margin-bottom: 10px;
                }

                .workSheetButton {
                    padding: 10px 20px;
                    background-color: $mrs;
                    color: $color_3;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: $mrs-bkg;
                    }
                }
            }

            .icon {
                font-size: 4rem;
                color: $mrs;
                margin-bottom: 10px;
            }

            &:hover {
                transform: scale(1.005);
            }

        }
    }

    .title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .driversGrid {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 1.8rem;
    }

    .driverCard {
        padding: 15px;
    }

    .icon {
        font-size: 3.5rem;
    }
}