$success-color: #4caf50;
$warning-color: #ff9800;
$border-color: #e0e0e0;
$text-color: #333;
$bg-color: #f9f9f9;
$header-bg-color: #eaeaea;

.filter-controls {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px; 

    label {
        margin: 10px 0; 
        font-weight: bold;
    }

    select {
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 4px;
        font-size: 14px; 
        margin-bottom: 15px; 
        transition: border-color 0.3s ease;  

        &:focus {
            border-color: #007bff; 
            outline: none; 
        }
    }
}

.orders-list {
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


    .title {
        color: $mrs;
        font-size: 1.8rem;
        margin-bottom: 20px;
        text-align: center;
        font-weight: bold;
    }

    .table {
        width: 100%;
        border-collapse: collapse;

        .table-header {
            background-color: $header-bg-color;
            border-bottom: 2px solid $border-color;

            .table-row {
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                padding: 10px 0;

                .table-cell {
                    flex: 1;
                    padding: 10px;
                    text-align: center;
                }
            }
        }

        .table-body {
            .table-row {
                display: flex;
                justify-content: space-between;
                padding: 8px 0;
                border-bottom: 1px solid $border-color;
                transition: background-color 0.2s;

                &:hover {
                    background-color: lighten($bg-color, 5%);
                }

                .table-cell {
                    flex: 1;
                    padding: 10px;
                    text-align: center;
                    a {
                        margin: 0 5px;
                    }
                    &.status {
                        font-weight: bold;

                        &.status-delivered {
                            color: $success-color;
                        }

                        &.status-in-progress {
                            color: $warning-color;
                        }
                    }
                }
            }
        }
    }
}